#headline {
  width: 30%;
  margin-bottom: 10vh;
}

#home {
  font-family: 'Montserrat', sans-serif;
  font-size:calc(42px + 1.5vw);
  text-transform: uppercase;
  margin: 0;
}

#tagline {
  font-size:calc(8px + 0.5vw);
  letter-spacing: 4.5px;
  padding: 15px 0;
}