#headline {
  width: 100%;
  margin-bottom: 10vh;
  position: absolute;
  top: 35%;
}

#home {
  font-family: 'Montserrat', sans-serif;
  font-size:calc(18px + 3vw);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  letter-spacing: calc(1px + 1.5vw);
}

#tagline {
  font-size:calc(8px + 0.5vw);
  letter-spacing: 4.5px;
  padding: 15px 0;
  text-align: center;
}

#keylinks {
  text-align: center;
}
