.page {
  min-height: 100vh;
  width: 80vw;
  /* display: flex; */
  /* justify-content: center; */
  padding: 0 10vw;
  position: relative;
}

.hidden {
  visibility: hidden;
}

h3 {
  position: absolute;
  text-align: left;
  z-index: 100;
  top: 10vh;
  left: 10vw;
  font-size: 3.5em;
  font-weight: normal;
  letter-spacing: 0.25em;
}

@media (max-width: 992px) {
  h3 {
    visibility: hidden;
  }
}

/* HOME */

#headline {
  width: 80%;
  margin-bottom: 10vh;
  position: absolute;
  top: 35%;
}

#home {
  font-family: 'Montserrat', sans-serif;
  font-size:calc(18px + 3vw);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  letter-spacing: calc(1px + 1.5vw);
}

#tagline {
  font-size:calc(8px + 0.5vw);
  letter-spacing: 4.5px;
  padding: 15px 0;
  text-align: center;
}

#keylinks {
  text-align: center;
}

/* ABOUT */

#skillcards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10vh 0;
}

@media (max-width: 992px) {
  #skillcards {
    flex-direction: column;
  }
}
