.page {
  min-height: 100vh;
  width: 80vw;
  /* display: flex; */
  /* justify-content: center; */
  padding: 0 10vw;
  position: relative;
}

.hidden {
  visibility: hidden;
}

h3 {
  position: absolute;
  text-align: left;
  z-index: 100;
  top: 10vh;
  left: 10vw;
  font-size: 3.5em;
  font-weight: normal;
  letter-spacing: 0.25em;
}

@media (max-width: 992px) {
  h3 {
    visibility: hidden;
  }
}