#projects-page {
  min-height: 75vh;
}

#project-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10vh;
}


@media (max-width: 992px) {

  #project-links {
    flex-direction: column;
  }

}
