#navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 75px;
  z-index: 100;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

#logo {
  width: 20vw;
  max-width: 100px;
  margin-left: 20px;
}

#logo img {
  width: 100%;
}

#menuContainer {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px 25px 25px 0px;
  width: 65%;
  max-width: 480px;
  text-align: right;
}

#menu {
  display: flex;
  justify-content: space-between;
}

.navlink {
  color: #0D0D0D;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}

@media (max-width: 480px) {
  #menu {
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 0 40px 0;
    visibility: hidden;
  }
  .navlink {
    padding: 25px 25px;
    width: 50%;
    text-align: center;
    border-bottom: 1px solid grey;
  }
}